#firstdiv{
   background-color: aqua ;
}
.red{
    color:darkslateblue ;
}
.bg-yellow{
    background-color: blue;
}

#seconddiv{
    background-color: aquamarine;
}
.blue{
    color: brown;
}
.bg-black{
    background-color: black;
}
